<!DOCTYPE html>
<html>
<head>
    <title>Trade Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Style CSS -->
    <link rel="stylesheet" href="style1.css">
    <link rel='stylesheet' href='bootstrap-3.3.7-dist\css\bootstrap.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link id="layoutstyle" rel="stylesheet" href="assets/color/theme.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist\css\bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="bootstrap-3.4.1-dist\js\bootstrap.min.js"></script>
<style>

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 54px;
  left: 50px;
  background-image: linear-gradient(to right, #0058b1 , #010204);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 21px;
}

.sidenav a {
  padding: 11px 5px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 767px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  footer{text-align: center;}
  .container{width: 80%;max-width: 80%;}
}
/*sid navbar*/
.left-menu[data-v-39b1fc22] {
    z-index: 2;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    }
.left-menu, .logo-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
  }
.left-menu {
    bottom: 0;
    z-index: 1;
    display: block;
    height: 100vh;
    padding-top: 75px;
    background-color: #004c9a;
}
.active-menu-item {
    background-color: #337ab7;
}
.menu-item-left {
    position: static;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    max-width: none;
    padding: 10px 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
}
</style>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "155px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</head>
<body style="margin-top: -3%;">
  <nav class="navbar navbar-default" role="navigation" style="background: #000;    position: fixed;z-index: 100;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="width: 100%">
      <a class="navbar-brand" href="#"><img class="img-responsive"src="assets/images/logo-head.png" alt="logo" style="width:100px;" /></a>
        <ul class="nav navbar-nav navbar-right" style="padding-left: 80%">
          <li class="dropdown">
            <i type="button" class="fa fa-cog dropdown-toggle" data-toggle="dropdown" style="font-size: 25px;"></i>
            <ul class="dropdown-menu">
              <li><a href="edit_profile.html">Edit Profile</a></li>
              <li><a href="verification.html">Verification</a></li>
              <li><a href="security.html">Security</a></li>
            </ul>
          </li>
            <a href="#" style="padding-right: 20px"><span><img src="images/user.png"  width="25">Name</span>
            </a>
        </ul>
    </div>
    </div>
  </nav>
<!-- Side bar -->
<nav class="main-menu">
  <ul>
    <li>
      <a href="home.html">
        <img src="images/a.png" style="margin-left: 15px; margin-right: 20px;">
        <span class="nav-text">
        Home
        </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="trading.html">
        <img src="images/b.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Trading
          </span>
      </a>           
    </li>
    <li class="has-subnav">
      <a href="wallets.html">
        <img src="images/c.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Wallets
          </span>
      </a>
    </li>
    <li class="has-subnav">
      <a href="balances.html">
        <img src="images/d.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Balances
          </span>
      </a>
    </li>
    <li>
      <a href="profit.html">
        <img src="images/e.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Profits
          </span>
      </a>
    </li>
    <li>
      <a href="pooling.html">
        <img src="images/f.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Pooling
          </span>
      </a>
    </li>
    <li>
      <a href="trade_history.html">
        <img src="images/g.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
            Trade History
          </span>
      </a>
    </li>
    <li>
      <a href="index.html">
        <img src="images/i.png" style="margin-left: 15px; margin-right: 20px;">
          <span class="nav-text">
          Logout
          </span>
      </a>
    </li>
  </ul>
</nav>
<!-- End Navigation Bar -->
<div class="container" style="margin-top: 5%;margin-left: 15%;">
  <div class="row">
    <h1 style="text-align: center;font-weight: bold;">POOL1</h1>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12" style="background: #000;color: #fff;">
      <h4 style="text-align: center;">Time To Invest</h4>
    </div>
    <div class="jumbotron">
      <p style="text-align: center;color: red;">This Pool is expired</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12" style="background: #000;color: #fff;">
      <h4 style="text-align: center;">Conditions</h4>
    </div>
    <div class="jumbotron">
      <table style="width: 80%;">
        <tr>
          <td>Pooling level:</td>
          <td style="float: right;">50BTC</td>
        </tr>
        <tr>
          <td>Time duration:</td>
          <td style="float: right;">6 Months</td>
        </tr>
        <tr>
          <td>Target performance:</td>
          <td style="float: right;">5%</td>
        </tr>
        <tr>
          <td>Advance possibility:</td>
          <td style="float: right;">NO</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12" style="background: #000;color: #fff;">
      <h4 style="text-align: center;">Investments</h4>
    </div>
    <div class="jumbotron">
      <table style="width: 80%;">
        <tr>
          <td>Investments Status</td>
          <td style="float: right;">15.10317846%</td>
        </tr>
        <tr>
          <td>Investors</td>
          <td style="float: right;">22 <i class="fa fa-users"></i></td>
        </tr>
        <tr style="color: red;">
          <td>Your Investment:</td>
          <td style="float: right;">0BTC</td>
        </tr>
        <tr style="text-align: center;float: right;">
          <td><a href="#" class="btn btn-primary btn-lg" role="button" style="padding: 10px 40px 0 40px;">Invest</a>
            <a href="#" class="btn btn-primary btn-lg" role="button">Pay Out</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;font-weight: bold;">OVERVIEW</h1>
  </div>
  <div class="row">
    <img src="images/pooling.png">
  </div>
  <div class="row">
    <div class="content-area container">
      <div class="table-area table-bordered table-responsive" style="margin-bottom: 10%;
      border: 2px solid #ddd;font-weight: bold;">
        <h2 style="text-align: center;font-weight: bold;">OUR BALANCES</h2>
        <table class="table">
          <thead  style="color: white;">
            <tr style="background: #000;">
              <th>Currency</th>
              <th>Amount</th>
              <th>Value in USD</th>
              <th>Value in BTC</th>
              <th>Price in USD</th>
              <th>Price in BTC</th>
              <th>Change 24h $</th>
              <th>Change 7d $</th>
              <th>Change 30d $</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BTC</td>
              <td>BeeHive</td>
              <td>0</td>
              <td>0.00000004</td>
              <td>0</td>
              <td>0</td>
              <td style="color:#ce3644">1% </td>
              <td>1% </td>
              <td>1% </td>
            </tr>
            <tr>
              <td>PIVX</td>
              <td>Turtle Network</td>
              <td>0</td>
              <td>0.00000002</td>
              <td>0</td>
              <td>0</td>
              <td style="color:#ce3644">1% </td>
              <td>1% </td>
              <td>1% </td>
            </tr>
            <tr>
              <td>WGR</td>
              <td>Stakenet</td>
              <td>0</td>
              <td>0.0000201</td>
              <td>0</td>
              <td>0</td>
              <td style="color:#ce3644">1% </td>
              <td>1% </td>
              <td>1% </td>
            </tr>
            <tr>
              <td>XSN</td>
              <td>Horizen</td>
              <td>0</td>
              <td>0.000422</td>
              <td>0</td>
              <td>0</td>
              <td style="color:#ce3644">1% </td>
              <td>1% </td>
              <td>1% </td>
            </tr>
            <tr>
              <td>ZEN</td>
              <td>Wagerr</td>
              <td>0</td>
              <td>0.0000046</td>
              <td>0</td>
              <td>0</td>
              <td style="color:#ce3644">1% </td>
              <td>1% </td>
              <td>1% </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content-area container">
      <div class="table-area table-bordered table-responsive" style="margin-bottom: 10%;
      border: 2px solid #ddd;font-weight: bold;">
        <h2 style="text-align: center;font-weight: bold;">Our Masternodes</h2>
        <h4 style="text-align: center;font-weight: bold;">Horizen (ZenCash)</h4>
        <table class="table">
          <thead  style="color: white;">
            <tr style="background: #000;">
            <th>NAME</th>
            <th>DAYS LIVE</th>
            <th>WALLET</th>
            <th>REWARDS</th>
            <th>STATUS</th>
            <th>LAST REWARD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ZEN #1</td>
              <td>15 days</td>
              <td>znfiVi6W3NMfppsGkQ31vr3zHWaExTVoa5j</td>
              <td>0</td>
              <td></td>
              <td>no reward</td>
            </tr>
            <tr>
              <td>ZEN #2</td>
              <td>51.5 days</td>
              <td>znerjoE1WW3vqfq6zbG5Y543nRXDJAfTibL</td>
              <td>11.09</td>
              <td></td>
              <td>155 hours ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content-area container">
      <div class="table-area table-bordered table-responsive" style="margin-bottom: 10%;
      border: 2px solid #ddd;font-weight: bold;">
        <h4 style="text-align: center;font-weight: bold;">Pivx</h4>
        <table class="table">
          <thead  style="color: white;">
            <tr style="background: #000;">
            <th>NAME</th>
            <th>DAYS LIVE</th>
            <th>WALLET</th>
            <th>REWARDS</th>
            <th>STATUS</th>
            <th>LAST REWARD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ZEN #1</td>
              <td>15 days</td>
              <td>znfiVi6W3NMfppsGkQ31vr3zHWaExTVoa5j</td>
              <td>0</td>
              <td></td>
              <td>no reward</td>
            </tr>
            <tr>
              <td>ZEN #2</td>
              <td>51.5 days</td>
              <td>znerjoE1WW3vqfq6zbG5Y543nRXDJAfTibL</td>
              <td>11.09</td>
              <td></td>
              <td>155 hours ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content-area container">
      <div class="table-area table-bordered table-responsive" style="margin-bottom: 10%;
      border: 2px solid #ddd;font-weight: bold;">
        <h4 style="text-align: center;font-weight: bold;">XSN (Stakenet)</h4>
        <table class="table">
          <thead  style="color: white;">
            <tr style="background: #000;">
            <th>NAME</th>
            <th>DAYS LIVE</th>
            <th>WALLET</th>
            <th>REWARDS</th>
            <th>STATUS</th>
            <th>LAST REWARD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ZEN #1</td>
              <td>15 days</td>
              <td>znfiVi6W3NMfppsGkQ31vr3zHWaExTVoa5j</td>
              <td>0</td>
              <td></td>
              <td>no reward</td>
            </tr>
            <tr>
              <td>ZEN #2</td>
              <td>51.5 days</td>
              <td>znerjoE1WW3vqfq6zbG5Y543nRXDJAfTibL</td>
              <td>11.09</td>
              <td></td>
              <td>155 hours ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="content-area container">
      <div class="table-area table-bordered table-responsive" style="margin-bottom: 10%;
      border: 2px solid #ddd;font-weight: bold;">
        <h4 style="text-align: center;font-weight: bold;">Wagerr</h4>
        <table class="table">
          <thead  style="color: white;">
            <tr style="background: #000;">
            <th>NAME</th>
            <th>DAYS LIVE</th>
            <th>WALLET</th>
            <th>REWARDS</th>
            <th>STATUS</th>
            <th>LAST REWARD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ZEN #1</td>
              <td>15 days</td>
              <td>znfiVi6W3NMfppsGkQ31vr3zHWaExTVoa5j</td>
              <td>0</td>
              <td></td>
              <td>no reward</td>
            </tr>
            <tr>
              <td>ZEN #2</td>
              <td>51.5 days</td>
              <td>znerjoE1WW3vqfq6zbG5Y543nRXDJAfTibL</td>
              <td>11.09</td>
              <td></td>
              <td>155 hours ago</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <hr style="border-top: 2px solid #004c9a;">
      <div class="col-sm-1 center"style="background: #000;
      margin-top: -20px;text-align: center;margin-left: 45%;">
      <p style="color: #fff;">POOL1</p>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <p>Trade Day  offers the users with Pool 1 the opportunity to invest in an index of $HoriZen $Wagerr $Dash $PivX $Stakenet. Deposits and withdrawals into this pool are made in $BTC. Payouts are regularly made automatically to the participants' balance.</p>
    </div>
    <div class="col-sm-3 col-md-3">
      <img src="images/003.png" style="width: 50%;">
      <img src="images/004.png" style="width: 50%;">
    </div>
    <div class="col-sm-3 col-md-3" style="margin-left: -10%;">
      <img src="images/005.png" style="width: 50%;">
      <img src="images/002.png" style="width: 50%;">
    </div>
    <div class="col-sm-3 col-md-3">
      <img src="images/001.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h3>Risk Disclosure</h3>
      <p>All information contained herein should be independently verified and confirmed. We do not accept any liability for any loss or damage whatsoever caused in reliance upon such information or services. Please be aware of the risks involved with any trading done in any financial market. Do not trade with money that you cannot afford to lose. When in doubt, you should consult a qualified financial advisor before making any investment decisions.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <h3>Disclaimer</h3>
      <p>Trading and investing in cryptocurrencies (also called digital or virtual currencies, crypto assets, altcoins and so on) involves substantial risk of loss and is not suitable for every investor. The valuation of cryptocurrencies and futures may fluctuate, and, as a result, clients may lose more than their original investment.</p>
      <p>If the market moves against you, you may sustain a total loss of the amount you deposited into your Pool Wallet. You are responsible for all the risks and financial resources you use and for the chosen trading system. You should not engage in trading unless you fully understand the nature of the transactions you are entering into and the extent of your exposure to loss. If you do not fully understand these risks you must seek independent advice from your financial advisor.</p>
      <p>All trading strategies are used at your own risk.</p>
      <p>Any content on this site should not be relied upon as advice or construed as providing recommendations of any kind. It is your responsibility to confirm and decide which trades to make. Trade only with risk capital; that is, trade with money that, if lost, will not adversely impact your lifestyle and your ability to meet your financial obligations. Past results are no indication of future performance. In no event should the content of this correspondence be construed as an express or implied promise or guarantee.</p>
      <p>Trade Day  is not responsible for any losses incurred as a result of using any of our trading-Pooling strategies. Loss-limiting strategies such as stop loss orders may not be effective because market conditions or technological issues may make it impossible to execute such orders. Information provided in this correspondence is intended solely for informational purposes and is obtained from sources believed to be reliable. Information is in no way guaranteed. No guarantee of any kind is implied or possible where projections of future conditions are attempted.</p>
      <p>None of the content published on this site constitutes a recommendation that any particular cryptocurrency, portfolio of cryptocurrencies, transaction or investment strategy is suitable for any specific person. None of the information providers or their affiliates will advise you personally concerning the nature, potential, value or suitability of any particular cryptocurrency, portfolio of cryptocurrencies, transaction, investment strategy or other matter.</p>
      <p>The generic market recommendations provided by us are based solely on the judgment of our personnel and should be considered as such. You acknowledge that you enter into any transactions relying on your own judgment. Any market recommendations provided by us are generic only and may or may not be consistent with the market positions or intentions of our company and/or our affiliates. Any opinions, news, research, analyses, prices, or other information contained on this website are provided as general market commentary, and do not constitute an investment advice.</p>
      <p>Note – Outperformance !</p>
      <p>Please note that in the pooling area an outperformance of the initial currency is possible, Trade Day  assumes no liability by outperformance of a single asset, the initial asset or a complete default of one of the assets contained in the pool. Use this feature only by a small amount or your portfolio and a part which you can bear as absolute total loss as diversification of your high risk capital.</p>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="container-fluid" style="background: #000;margin-left:50px;">
  <div class="row">
    <div class="col-sm-4">
    <img src="images/footer.png" style="width:70%;margin-left:10%">
    </div>
    <div class="col-sm-8" style="margin-top: 5%;">
      <p style="border-bottom: 1px solid #fff; color: #fff;">Folder The Future of Tranding</p>
    </div>
    <!-- <hr style="color: #fff;"> -->
        <div class="col-sm-2">
        <!-- Content -->
        <p style="color: #fff;">legal</p>
        <p style="color: #fff;text-decoration: underline;">Legal Information</p>
        <p style="color: #fff;text-decoration: underline;">Privacy Policy</p>
        <p style="color: #fff;text-decoration: underline;">Terms & Conditions</p>
        </div>
        <div class="col-sm-2">
        <!-- Content -->
        <p style="color: #fff;">Info</p>
        <p style="color: #fff;text-decoration: underline;">Fees</p>
        <p style="color: #fff;text-decoration: underline;">License</p>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <p style="color: #fff;">Menu</p>
        <p style="color: #fff;text-decoration: underline;">Trade Day</p>
        <p style="color: #fff;text-decoration: underline;">support</p>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <p style="color: #fff;">Social</p>
        <ul>
          <li><i class="fa fa-facebook-f"></i></li>
          <li><i class="fa fa-twitter"></i></li>
          <li><i class="fa fa-instagram"></i></li>
          <li><i class="fa fa-telegram"></i></li>
        </ul>
        </div>
        <div class="col-sm-1">
        <!-- Content -->
        <button class="btn-lg btn-primary">subscribe</button>
        </div>
    <div class="col-sm-8" style="margin-top: 5%;">
      <p style="color: #fff;">Trade Day 2019, All Rights Reserved.</p>
    </div>        
  </div>
</footer>
<!-- End Footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script  src="js/script.js"></script>
<script src="js/bootstrap.min.js"></script>
<script  src="js/index.js"></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

</body>
</html>